name: Check for Announcements

on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run scraper
        env:
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
        run: python notifier.py

      - name: Save State
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add last_announcement.txt
          git diff-index --quiet HEAD || git commit -m "$(date +'%Y-%m-%d') - Update last announcement state"
          git push
